<h1>Comments on <%= link_to @post.title, post_path(@post) %></h1>
<ol>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <br/>
      - <%= link_to comment.user.name, user_path(comment.user) %>
    </li>
  <% end %>
</ol>
<h3>Add a Comment from a Random User on <%= link_to @post.title, post_path(@post) %></h3>
<%= form_with do %>
  <%= text_field(:comment, :body) %>
<% end %>

